/********** Desktop **********/
@media (min-width: 992px) {
 /** #p1 {
    width: 80%;
  }
  #p2 {
    width: 150px;
    height: 150px;
  }*****/
}


/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
 /*** #p1 {
    width: 50%;
  }
  #p2 {
    width: 100px;
    height: 100px;
  }
  body {
    background-color: blue;
  }*****/
}

/********** Mobile **********/
@media  (max-width: 767px) {
 /***** #p1 {
    width: 50%;
  }
  #p2 {
    width: 100px;
    height: 100px;
  }
  body {
    background-color: blue;
  } *****/
}
h1 {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
}
#p1 {
  background-color: gray;
  float: left;
  height: 500px;
  width: 500px;
}
#p2 {
  background-color: gray;
  float: right;
  height: 500px;
  width: 500px;
}
#p3 {
  background-color: gray;
  clear: both;
  height: 500px;
  width: 500px;
}